<div class="nav" [ngClass]="{horizontal: layout === 'horizontal',vertical: layout === 'vertical'}">
    <!-- Vertical Navigation Layout -->
    <ng-container *ngIf="layout === 'vertical'">
        <ng-container *ngFor="let item of navigation">
            <hive-nav-vertical-group *ngIf="item.type == 'group'" [item]="item"></hive-nav-vertical-group>
            <hive-nav-vertical-collapsable *ngIf="item.type == 'collapsable'" [item]="item"></hive-nav-vertical-collapsable>
            <hive-nav-vertical-item *ngIf="item.type == 'item'" [item]="item"></hive-nav-vertical-item>
        </ng-container>
    </ng-container>
    <!-- / Vertical Navigation Layout -->
    <!-- Horizontal Navigation Layout -->
    <ng-container *ngIf="layout === 'horizontal'">
        <ng-container *ngFor="let item of navigation">
            <hive-nav-horizontal-collapsable *ngIf="item.type == 'group'" [item]="item"></hive-nav-horizontal-collapsable>
            <hive-nav-horizontal-collapsable *ngIf="item.type == 'collapsable'" [item]="item"></hive-nav-horizontal-collapsable>
            <hive-nav-horizontal-item *ngIf="item.type == 'item'" [item]="item"></hive-nav-horizontal-item>
        </ng-container>
    </ng-container>
    <!-- / Horizontal Navigation Layout -->
</div>
